* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

#app {
  padding-top: 70px;
}

ol, ul {
  list-style-type: none;
}

a {
  // color: #fff;
  text-decoration: none;
}

button {
  a {
    color: #fff;
  }
}

img {
  width: 100%;
}


@media screen and (max-width: 767px) {
  .heading__lv2 {
    font-size: 1.2rem;
  }
}