* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #eee;
  background-color: #fff;
}

// #app {
//   padding-top: 70px;
// }

main {
  min-height: 75vh;
  padding-bottom: 4rem;
}

ol, ul {
  list-style-type: none;
}

a {
  // color: #fff;
  text-decoration: none;
  color: #17a2b8;
}

button {
  a {
    color: #fff;
  }
}

img {
  width: 100%;
}

.btn-info {
  color: #fff;
  font-weight: bold;

  &:hover {
    color: #eee;
  }
}

.navbar-nav {
  align-items: center;
}

.for-pc {
  display: block;
}
.for-sp {
  display: none;
}

.heading__lv3 {
  font-size: 1.4rem;
}

.item__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .for-pc {
    display: none;
  }
  .for-sp {
    display: block;
  }

  .heading__lv2 {
    font-size: 1.2rem;
  }
}