* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

// #app {
//   padding-top: 70px;
// }

main {
  min-height: 75vh;
}

ol, ul {
  list-style-type: none;
}

a {
  // color: #fff;
  text-decoration: none;
}

button {
  a {
    color: #fff;
  }
}

img {
  width: 100%;
}


.navbar-nav {
  align-items: center;
}

.for-pc {
  display: block;
}
.for-sp {
  display: none;
}


@media screen and (max-width: 768px) {
  .for-pc {
    display: none;
  }
  .for-sp {
    display: block;
  }

  .heading__lv2 {
    font-size: 1.2rem;
  }
}