
.state-change-btn {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.btn-info {
  background-color: #17a2b8;

  &:hover {
    background-color: #20c997;
  }
}

@media screen and (max-width: 767px) {
  .state-change-btn {
    margin-left: 0%;
    margin: 0 auto;
  }
}