
.footer {
  // background-color: $indigo;
  background-color: #17a2b8;
  color: #fff;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  a {
    color: #fff;
  }
}

.copyright {
  padding: 1rem 0;
}