
.article＿_column {
  align-items: center;
}

.article__id {
  width: 5%;
}

.article__title {
  width: 80%;

  a {
    font-size: 1.6rem;
    word-break: break-all;
  }
}

.article__btn {
  width: 15%;
  display: flex;
}