
#top {
  .heading__lv2 {
    color: #fff;
    text-shadow: #000000 1px 0 10px;
    font-size: 4rem;
  }
  .heading__lv3 {
    color: #fff;
    // text-shadow: #FC0 1px 0 10px;
    text-shadow: #000 1px 0 10px;
  }

  .btn {
    max-width: 160px;
    display: block;

    a {
      color: #fff;
    }
  }
} 

// main {
//   background-image: url(../img/bg_top.jpg);
//    background-size: cover;
// }

.top__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  // background: blue;

  background-image: url(../img/bg_top.jpg);
  background-size: cover;
}

.layer {
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  max-width: 240px;
  width: 70%;
  border-radius: 8px;
}

@media screen and(max-width: 767px) {
  #top {
    .heading__lv2 {
      font-size: 3rem;
    }
  }
}