.area-video {
  &.container {
    max-width: 1280px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.iframe-wrapper {
  padding: 0 0 0 0;
  position: relative;
}


.playerlist {
  height: 362px;
  overflow: auto;

  li {
    border: 1px solid #eee;
    
    a {
      color: #000;
      padding: 1rem 1rem;
      border: 1px solid #fff;
      display: block;
      // text-align: center;
      font-size: 1rem;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
}

body, html, .player, .fallback {
  height: auto !important;
}


@media screen and (max-width: 768px) {
  .iframe-wrapper {
    padding: 56.25% 0 0 0;
    position: relative;
  }

  .playerlist {
    height: 200px;

    li {
      a {
        padding: 1.4rem;
      }
    }
  }


}