
.playerlist {
  height: 362px;
  overflow: auto;

  li {
    a {
      padding: 0.6rem;
      border: 1px solid #fff;
      display: block;
      // text-align: center;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .playerlist {
    height: 200px;

    li {
      a {
        padding: 1.4rem;
      }
    }
  }


}